<section class="user-card-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle"
        viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z">
        </path>
        <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
        </path>
    </svg>
    <div class="card">
        <div class="dashboard-card-header">
            <h3>{{myUser.username}}'s Profile</h3>
        </div>

    </div>
  <!-- TO DO BEFORE COMMITTING ADD CHART JS -->
</section>

<section class="dash-card card-body">
    {{#if myUser.Goals.length}} <!-- need to console log and test to get correct name-->
    <section>
        <section>  <h3>All Your Blogs:</h3></section>
            <section class="single-goal">
        <div class="blog-list">
      
            {{#each myUser.Goals as |goal|}}
            {{> my-goal-details }} 
            {{/each}}
        </div>
          </section>
        {{/if}}
    </section>
</section>

<section class="dash-card card-body">
     <section class="flex-row justify-center">
    <h4>Post a Goal</h4>
   </section>
        <form class="create-post">
            <input type="text" id="content" placeholder="Your Goal">
            <label for="finish-date">Finish by:</label>
            <input type="date" id="finish-date" placeholder="Finish Date"> <!-- eventually add drop down-->
            <label for="completed">Completed?</label>
            <select name="yes/no" id="completed">
                <option value="yes">Yes</option> <!-- should value actually equal true??? -->
                <option value="no">No</option>
            </select>
            <!-- eventually add drop down-->
            <button type="submit" id="submit-btn">Submit</button>
        </form>
    </section>



    {{> chart }}

<div style="width: 800px;"><canvas id="chart"></canvas></div>

<button type="button" class="js-delete-btn" data-id="{{myUser.id}}">Delete Account</button>
<script src="/js/user.js"></script>