 <h3 class="all-user-id">{{userGoals.username}}</h3>
<div class="goal-list"> 
 {{#each userGoals.Goals as |Goal|}}
  <ol> <a href="/goal/{{id}}">
   
<section class="user-card-wrapper">

    <div class="comment-card">
            <div class="card-body">
      <blockquote
        class="blockquote mb-0"
      >
        <p>This is my Goal:
          {{Goal.content}}
        </p>
          </div>
         </div>
  {{/each}}
 </a>
</div>

{{> chart }}

<div style="width: 800px;"><canvas id="chart"></canvas></div>


