 <h3 class="individual-username">{{userGoals.username}}</h3>
<div class="goal-list"> 
 {{#each userGoals.Goals as |goal|}}
 <a href="/goal/{{id}}">

    <div class="goals-card">
       <div class="goals-card-body">
       <h3>This is my Goal:
          {{goal.content}}
          <h4 class= "completed">Completed? {{goal.completed}}</h4>
        </h3>
          </div>
         </div>
  {{/each}}
 </a>
</div>

{{> chart }}

<div style="width: 800px;"><canvas id="chart"></canvas></div>


