:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
font-family: Arial;
margin: 0;
display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: flex-start;
background-color: var(--quatrinary);
}

/* Sets brand criteria */
h1 {
display: flex;
font-size: 3rem;
border-style: none;
padding: 5px;
}

a {
color: var(--dark);
text-decoration: none;
}

a:visited {
color: inherit;
}

/* Sets navigation position */

header {
padding: 40px;
background: var(--primary);
color: var(--light);
}

/* Sets navigation link criteria */
.header nav li {
display: inline-block;
margin-left: 25px;
margin-top: 25px;
list-style-type: none;
font-size: 22px;
}

.header nav {
float: right;
margin-right: 40px;
}

main {
display: flex;
flex-wrap: wrap;
flex-grow: 1;
}

/* Chages link color to turquoise plus additional criteria */
header a,
a:link,
a:focus,
a:active {
color: rgb(138, 178, 174);
text-decoration: none;
cursor: pointer;
}

/* header nav li text:hover,
.btn:hover {
box-shadow: inset 0px 0px 8px rgb(38, 241, 197), 0 0 15px rgb(21, 230, 150);
} */

.user-card-wrapper {
display: flex;
align-items: center;
margin-left: 100px;
width: 100%;
}

/* Sets navigation position */
.header nav {
float: right;
margin-right: 40px;
margin-top: -60px;
}

/* Sets navigation link criteria */
.header nav li {
display: inline-block;
margin-left: 25px;
margin-top: 25px;
list-style-type: none;
font-size: 22px;
}

.btn-no-style {
background: none;
border: none;
padding: 0;
cursor: pointer;
text-decoration: none;
font-size: 100%;
transition: color 0.1s;
margin-left: 16px;
}

/* 
/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
  } 

/* CARDS */
.card {
margin: 20px;
flex: 0 1 300px;
border: 7px double var(--dark);
border-radius: 10px;
background-color: var(--light);
color: var(--dark);
}

.card header {
color: var(--light);
font-weight: bold;
text-transform: uppercase;
margin: 0;
background-color: var(--tertiary);
padding: 0.625rem;
border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
font-size: 1.4rem;
text-align: center;
font-weight: bold;
}

/*  Contact me section */
footer {
display: flex;
flex-direction: row;
justify-content: center;
height: 70px;
margin-top: 3rem;
font-size: 1.6rem;
}
