:root {
  --primary: #8ea048;
  --secondary: #f1f3e7;
  --tertiary: #d6d6d6;
  --quatrinary: #b2b2ae;
  --light: #dddddd;
  --dark: #42423a;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--light);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--secondary);
}

h1 {
  display: flex;
  color: var(--secondary);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.header nav {
  float: right;
  margin-right: 40px;
  margin-top: -70px;
}

.header nav li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  list-style-type: none;
  font-size: 22px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.user-card-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}

.comment-card-wrapper {
  margin-top: 30px;
  display: column;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}

.parent {
  display: flex;
}

.card {
  margin: 20px;
  width: 75%;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.dash-card {
  margin-left: 235px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%;
  border: none;
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.single-goal {
  border-radius: 9px;
  background-color: var(--light);
  color: var(--dark);
  text-align: start;
  
}

.individual-username {
color: #6b683d;
margin-left: 30px;
margin-top: 15px;
margin-bottom: 15px;
}

.details-card {
  border:solid #6b683d;
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  flex: 0 0 50%;
  max-width: 49%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  border-color: black;
  background-color: #b3b395;
  color: var(--dark);
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.comment-card {
  width: 75%;
}

.goals-card {
  width: 80%;
  margin-left: 10%;
}

.blog-card{
margin-left: 200px;
}

.js-delete-btn {
float: right;
margin-right: 30px;
}

.comment-card-body {
  border-style: solid;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--light);
  color: #6b683d;
  font-size: 1.4rem;
  margin-left: 105px;
}

.goals-card-body {
  border-style: solid;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--light);
  color: #6b683d;
  font-size: 1.4rem;
  margin-bottom: 0px;
  margin: 0, 20px, 0, 20px;
}

footer {
  display: flex;
  color: rgb(115, 114, 114);
  justify-content: center;
  height: 70px;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

/* Styling Heart */
.bi-heart {
  color: rgb(214, 95, 95);
  font-size: 250px;
  height: 20px;
  width: 20px;
  /* Animating heart */
  animation: pulse 1.5s linear infinite;
}

/* Styling goal form */
.create-post select {
  width: 75px;
}

/* Form text input */

.sear -wrapper input {
  padding: 1.5rem;
  width: 75%;
  float: left;   
  font: italic 15px  'lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: .3rem;
}

.search-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;
padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}   



.search-wrapper button:focus:before,
.search-wrapper button:active:before{
      border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
} 

/* Animation for heart */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}